<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 left">
                <a href="http://www.welean.it">WeLean</a> is supported by <a href="http://www.evaneos.com" title="Evaneos.com : Voyages en direct et circuits sur mesure">Evaneos.com</a>.<br />
            </div>
            <div class="col-md-6 col-sm-6 right">
                <ul class="social-links">
                @@include('includes/socials.html')
                </ul>
            </div>
        </div>
    </div>
</footer>
