<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-main-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://welean.it/" title="Lean coding week ends">Welean<span>.</span>it</a>
        </div>
        <div class="collapse navbar-collapse" id="js-main-menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home">Home</a></li>
                <li><a href="#idea" title="The idea of Welean projects" class="tooltip">The idea</a></li>
                <li><a href="#concept" title="How works Welean ?" class="tooltip">Concept</a></li>
                <li><a href="#sessions" title="What has been done on previous Welean sessions" class="tooltip">Sessions</a></li>
                <li><a href="#contact" class="tooltip" title="Get in touch with the Welean team!">Contact</a></li>
                @@include('includes/socials.html')
            </ul>
        </div>
    </div>
</nav>
